<?xml version="1.0" encoding="UTF-8"?>
<hivemq>
    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>
    </listeners>

    <persistence>
        <enabled>true</enabled>
        <data-folder>/opt/hivemq/data</data-folder>
    </persistence>

    <mqtt>
        <receive-maximum>
            <server-receive-maximum>2147483647</server-receive-maximum>
        </receive-maximum>
        <queued-messages>
            <max-queue-size>2147483647</max-queue-size>
            <strategy>discard</strategy>
        </queued-messages>
    </mqtt>

    <allow-anonymous>true</allow-anonymous>

    <logging>
        <level>ALL</level>
        <console>true</console>
        <file>/opt/hivemq/log/hivemq.log</file>
    </logging>
</hivemq>

