version: "2.1"

services:
  mosquitto:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "1883:1883"
    volumes:
      - mosquitto-data:/mosquitto/data # use a named volume here as we do not need direct access in our experiment for it but it still allows us to find it in the /var/lib/docker/volumes directory
      - ./mosquitto-logs:/mosquitto/log # use a bind mount here so that we can easily copy logs to the results folder
      - /etc/localtime:/etc/localtime:ro
    networks:
      - mqtt-net

  ars-comp-1-1:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python ars_comp_1_proxy.py"
    ports:
      - "7081:8080"
    environment:
      - HTTP_PORT=8080
      - HTTP_HOST=0.0.0.0
      - SERVICE_NAME=ars-comp-1-1
      - TARGET_URL=http://proxy1-1:8080/ID_REQ_KC_STORE7D3BPACKET
    volumes:
      - ./logs:/app/logs
      - ./ars_comp_1_proxy.py:/app/ars_comp_1_proxy.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - proxy1-1
    networks:
      - mqtt-net 
  
  ars-comp-1-2:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python ars_comp_1_proxy.py"
    ports:
      - "7082:8080"
    environment:
      - HTTP_PORT=8080
      - HTTP_HOST=0.0.0.0
      - SERVICE_NAME=ars-comp-1-2
      - TARGET_URL=http://proxy1-2:8080/ID_REQ_KC_STORE7D3BPACKET
    volumes:
      - ./logs:/app/logs
      - ./ars_comp_1_proxy.py:/app/ars_comp_1_proxy.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - proxy1-2
    networks:
      - mqtt-net 
  
  ars-comp-1-3:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python ars_comp_1_proxy.py"
    ports:
      - "7083:8080"
    environment:
      - HTTP_PORT=8080
      - HTTP_HOST=0.0.0.0
      - SERVICE_NAME=ars-comp-1-3
      - TARGET_URL=http://proxy1-3:8080/ID_REQ_KC_STORE7D3BPACKET
    volumes:
      - ./logs:/app/logs
      - ./ars_comp_1_proxy.py:/app/ars_comp_1_proxy.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - proxy1-3
    networks:
      - mqtt-net 

  proxy1-1:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python legacy_proxy_1.py"
    ports:
      - "8081:8080"
    environment:
      - MQTT_BROKER=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC=proxy1/message
      - HTTP_PORT=8080
      - HTTP_HOST=0.0.0.0
      - SERVICE_NAME=proxy1-1
    volumes:
      - ./logs:/app/logs
      - ./legacy_proxy_1.py:/app/legacy_proxy_1.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - mosquitto
    networks:
      - mqtt-net

  proxy1-2:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python legacy_proxy_1.py"
    ports:
      - "8082:8080"
    environment:
      - MQTT_BROKER=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC=proxy2/message
      - HTTP_PORT=8080
      - HTTP_HOST=0.0.0.0
      - SERVICE_NAME=proxy1-2
    volumes:
      - ./logs:/app/logs
      - ./legacy_proxy_1.py:/app/legacy_proxy_1.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - mosquitto
    networks:
      - mqtt-net

  proxy1-3:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python legacy_proxy_1.py"
    ports:
      - "8083:8080"
    environment:
      - MQTT_BROKER=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC=proxy3/message
      - HTTP_PORT=8080
      - HTTP_HOST=0.0.0.0
      - SERVICE_NAME=proxy1-3
    volumes:
      - ./logs:/app/logs
      - ./legacy_proxy_1.py:/app/legacy_proxy_1.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - mosquitto
    networks:
      - mqtt-net

  proxy2-1:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python legacy_proxy_2.py"
    environment:
      - MQTT_HOST=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC=$$share/legacy_proxy/+/message
      - MQTT_QOS=2
      - TARGET_URL=http://target-service:1337/ID_REQ_KC_STORE7D3BPACKET
      - SERVICE_NAME=proxy2-1
    volumes:
      - ./logs:/app/logs
      - ./legacy_proxy_2.py:/app/legacy_proxy_2.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - mosquitto
      - target-service
    networks:
      - mqtt-net

  proxy2-2:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python legacy_proxy_2.py"
    environment:
      - MQTT_HOST=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC=$$share/legacy_proxy/+/message
      - MQTT_QOS=2
      - TARGET_URL=http://target-service:1337/ID_REQ_KC_STORE7D3BPACKET
      - SERVICE_NAME=proxy2-2
    volumes:
      - ./logs:/app/logs
      - ./legacy_proxy_2.py:/app/legacy_proxy_2.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - mosquitto
      - target-service
    networks:
      - mqtt-net

  proxy2-3:
    image: python:3.10-slim
    command: /bin/bash -c "pip install -r requirements.txt && python legacy_proxy_2.py"
    environment:
      - MQTT_HOST=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC=$$share/legacy_proxy/+/message
      - MQTT_QOS=2
      - TARGET_URL=http://target-service:1337/ID_REQ_KC_STORE7D3BPACKET
      - SERVICE_NAME=proxy2-3
    volumes:
      - ./logs:/app/logs
      - ./legacy_proxy_2.py:/app/legacy_proxy_2.py
      - ./requirements.txt:/app/requirements.txt
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      - mosquitto
      - target-service
    networks:
      - mqtt-net

  target-service:
    image: openjdk:17-slim
    ports:
      - "8084:1337"
    volumes:
      - ../Simulators:/app
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    command: java -jar build/libs/Rast-Simulator-all.jar -m 0 -c 0
    networks:
      - mqtt-net

networks:
  mqtt-net:
    driver: bridge

volumes:
  mosquitto-data:

